li:first-child {
    font-weight: bold;
}

a:last-child {
    color: red;
}

input:disabled {
    background-color: grey;
}

div > p {
    font-weight: 600;
}

a[href^="https"] {
    color: green;
}

input[type="text"] {
    border: 1px solid blue;
}

li:first-child, li:last-child {
    font-size: 24px;
}

div p {
    font-size: 16px;
}

input:checked {
    background-color: lightblue;
}

li > a {
    text-decoration: underline;
}

li:nth-child(even) {
    font-weight: bold;
}

input[type="text"]:not([disabled]) {
    background-color: gray;
}

*:first-child > p {
    font-size: 24px;
}

.special + li {
    text-decoration: line-through;
}

p::first-letter {
    font-size: 36px;
}

a::after {
    content: " (link)";
}


/* Стилізація навігаційного меню */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    color: #007BFF;
}


/* Стилі для футера */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

/* Стилі для параграфів у футері */
footer p {
    display: inline; /* Змушує параграфи бути в одному рядку */
    margin: 0 10px; /* Відстань між параграфами */
}

/* Стилі для посилання у футері */
footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Стилі для футера */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed; /* Закріплює футер */
    bottom: 0; /* Розміщує футер в нижній частині сторінки */
    width: 100%; /* Розмір футера на всю ширину сторінки */
}